<%- include('./layout/header')  %>
<div class="container mt-5">
    <h3>Page not found, get back to <br><img class="float-end" src="../assets/img/404.png" alt=""><br><a href="/">Home page</a></h3>
    
</div>
<%- include('./layout/footer')  %>