<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="assets/img/gestion.png" alt="" class="logo" > </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
          <li class="nav-item">
            <a class="nav-link" href="/utilisateur">Utilisateurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/departement">Departements</a>
          </li>
        </ul>
        <div class="d-flex gap-3">
         <% if (url == '/') { %>
            <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#add-utilisateur">Ajouter utilisateur</button>
            <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#add-departement">Ajouter departement</button>
         <% } else if (url == '/utilisateur'  ) { %>
            <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#add-utilisateur">Ajouter</button>
         <% } else if (url == '/departement') { %>
            <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#add-departement">Ajouter</button>
         <% } %>
        </div>
      </div>
    </div>
  </nav>